@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: rgb(13, 13, 23);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo {
  height: 4.5rem;
  display: flex;
  align-items: center;
}
.logo-img {
  height: 1.5rem;
  width: auto;
  margin: 1rem;
  margin-left: 2.5rem;
  padding: auto;
}
.list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
li {
  margin-right: 2rem;
}
a {
  text-decoration: none;
  color: white;
}
.sidelist{
    position:fixed;
    top: 0;
    right:0;
    height:100vh;
    width:250px;
    z-index: 999;
    background-color: rgb(13, 13, 23);
    box-shadow: -10px 0 10px rgbs(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    font-size: 2rem;
    justify-content:flex-start;
    row-gap: 2rem;
}
.auth{
    margin-left: 2rem;
}

.menu-button{
    display: none;
}
.hero {
  background-image: url(bg.dd66f10accaaca6f8c9e.webp);
  height: 100vh;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.top {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  max-width: 100%;
}
.top .left {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}
.top .left .content {
  color: #fff;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading1,
.heading2 {
  font-size: 3rem;
}
.top .left .content .left {
  font-family: Gilroy-bold;
}
.top .left .content .zairza {
  background-color: #e82e8a;
  border-radius: 0.5rem;
  font-size: 2.8rem;
  margin-top: 1rem;
  padding-left: 1rem;
  width: 10rem;
}
.top .left .content .para1 {
  color: #f0f8ff;
  margin-top: 1.5rem;
}
.top .left .content .para2 {
  margin-top: 0rem;
}
.top .left .content .btn-rn {
  border: none;
  border-radius: 0.5rem;
  color: #cc20ad;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  height: 3.3rem;
  margin-top: 2rem;
  width: 10rem;
}
.top .left .content .btn-rn:hover {
  opacity: 0.7;
}
.top .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-img {
  height: 45rem;
  width: auto;
}
.mid {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.auth:hover {
  color: #cc20ad;
}
.mid-right {
  padding: 10rem;
}
.zen {
  color: #ffffff;
  background-color: #cc20ad;
  border-radius: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

.events {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.details-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    overflow:hidden;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.para3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.para4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.img-bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  /* height: 24rem; */
  width: auto;
}
.robot {
  display: flex;
  justify-content: center;
}
.bottom {
  transition: all 0.3s ease;
  height: auto;
}

.bottom:hover {
  transform: scale(0.9);
  transition: transform 0.3s ease;
}
.footer {
  background: rgb(13, 13, 23);
  color: white;
  height: auto;
  padding: 5rem;
}
.wfoot {
  font-size: 2rem;
  padding: 1rem;
}
.midfoottext {
  /* padding: 1rem; */
  margin-right: 4rem;
  padding: 1rem;
}
.midfooter {
  display: flex;
  justify-content: space-between;
}
.midicon {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.midfooticons {
  background-color: #cc20ad;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
.bottomfoot-text {
  margin: 3rem 0 5rem 0;
}
.bottom-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0;
}
.bottomfooticon {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1280px) {
    .details-text{
        padding: 1rem;
    }
  nav {
    display: flex;
    flex-direction: column;
  }
  .list {
    display: flex;
    flex-direction: column;
  }
  .top {
    display: flex;
    flex-direction: column;
    background: #1a1321;
    height: auto;
    width: 100%;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mid {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .events {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .img-bottom {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .head{
    font-size: larger;
  }
  .para3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .para4 {
    display: flex;
    flex-direction: column;
  }
  .bottom {
    height: auto;
    transform: scale(0.8);
    width: 100%;
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
  }
  .right-img {
    width: auto;
    height: 30rem;
    max-width: 100%;
    overflow: hidden;
  }
  .mid-right {
    padding: 1rem;
  }
  .footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
   
  }
  .top-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .midfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .midfoottext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .bottom-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
  }
  .register {
    display: flex;
    justify-content: center;
  }
  .mid-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .top-footer {
    text-align: center;
  }
  .img-left {
    width: 100%;
    display: flex;
    justify-content: center;
    transform: scale(0.8);
  }
  .img-left .robot {
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: 100%;
  }
  .hero {
    background-image: none;
  }
  .left{
    margin-top: 3rem;
  }
  .hideOnMobile{
    display: none;
}
    .menu-button{
        display: block;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
}
@media (max-width: 1300px) {
  .img-bottom {
    display: flex;
    flex-direction: column;
  }
  .events {
    height: auto;
  }
}
@media (max-width:800px) {
    .img-bottom
    {
        display: flex;
        flex-direction: column;
       
    }
    .events{
        height: auto;
    }
}
@media(max-width:400px){
    .sidelist{
        width:100%;
        height: 100%;
    }
    .menu-button{
        display: block;
    }
}
